* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #000;
    color: #fff;
    line-height: 1.5;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 10;
}

.logo {
    color: #E50914;
    font-size: 2.5rem;
    font-weight: bold;
}

/* Hero Section */
.hero {
    height: 80vh;
    background: url("img/hero_bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 8px solid #222;
}


.hero-content h1 {
    font-size: 3.5rem;
    max-width: 800px;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

/* Buttons */
.btn {
    padding: 7px 17px;
    background-color: #E50914;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.btn-large {
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 2px;
}

.btn:hover {
    background-color: #b9090b;
}

.cta {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.cta input {
    padding: 15px;
    width: 400px;
    border: none;
    border-radius: 2px;
}

/* Features Section */
.features {
    padding: 70px 10%;
}

.feature-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 20px 0;
}

.feature-card.invert {
    flex-direction: row-reverse;
}

.feature-text {
    flex: 1;
}

.feature-text h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.feature-text p {
    font-size: 1.5rem;
}

.feature-img {
    flex: 1;
    display: flex;
    justify-content: center;
}

.feature-img img {
    width: 80%;
    height: 250px;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #444;
}

/* FAQ */
.faq {
    text-align: center;
    padding: 50px 10%;
    border-top: 8px solid #222;
}

.faq-list {
    margin-top: 30px;
}

.faq-box {
    background: #303030;
    padding: 20px;
    margin: 10px auto;
    width: 100%;
    max-width: 800px;
    text-align: left;
    font-size: 1.5rem;
}

/* Footer */
.footer {
    padding: 70px 15%;
    color: #757575;
    border-top: 8px solid #222;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
}

.footer ul {
    list-style: none;
}

.footer a {
    color: #757575;
    text-decoration: none;
    font-size: 0.9rem;
}

.footer li {
    margin-bottom: 10px;
}

/* Media Queries */
@media (max-width: 768px) {
    .feature-card, .feature-card.invert {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    .navbar h1{
        font-size: 2rem;
    }
    
    .hero-content h1 {
        font-size: 2.3rem;
    }
    .hero-content p {
        font-size: 1.3rem;
    }
    
    .cta {
        flex-direction: column;
        align-items: center;
    }
    
    .cta input {
        width: 90%;
        margin-bottom: 10px;
    }
    .faq-box{
        font-size: 1.3rem;
    }
}

/* mobile */
@media (max-width: 500px) {
    .hero-content h1 {
        font-size: 2rem;
    }
}